<div class="flex flex-row">
  <%= image_tag 'sapphiron_dumbell.png', class: 'w-32 h-32'%>
</div>
Testeanding amigo
<div class="lg:flex sm:gap-x-[24px] lg:justify-center lg:flex-nowrap w-96 h-96">
  <%= render partial: 'shared/body_front_basic_map' %>
  <%= render partial: 'shared/body_back_basic_map' %>
</div>

