/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#home_page {
    display: grid;
    width: 100%;
    grid-template-areas:
        "head head head"
        "nav main main"
        "foot foot foot";
    grid-template-rows: 50px 1fr 50px;
    grid-template-columns: 150px 1fr 1fr;
}

#home_page>header {
    grid-area: head;
    background-color: #8ca0ff;
}

#home_page>nav {
    grid-area: nav;
    background-color: #ffa08c;
}

#home_page>main {
    grid-area: main;
    background-color: #ffff64;
}

#home_page>footer {
    grid-area: foot;
    background-color: #8cffa0;
}