<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Movement patterns</h1>
    <%= link_to "New movement pattern", new_movement_pattern_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <% if action_name == "show" %>
    <div id="movement_patterns" class="min-w-full">
      <%= render @movement_patterns %>
    </div>
  <%end%>
  
  <% if action_name != "show" %>
    <div class="my-2">
      <table id="movement_patterns" class="table table-fixed w-full border border-gray-400">
        <thead class="table-header-group">
          <tr class="table-row">
            <th class="table-cell text-center px-4 py-2 text-emerald-600 border border-gray-400">Name</th>
            <th class="table-cell text-center px-4 py-2 text-emerald-600 border border-gray-400">Description</th>
            <th class="table-cell text-center px-4 py-2 text-emerald-600 border border-gray-400">Exercises</th>
            <th class="table-cell text-center px-4 py-2 text-emerald-600 border border-gray-400">Actions</th>
          </tr>
        </thead>
        <tbody>
          <%= render @movement_patterns %>
        </tbody>
      </table>
    </div>
  <%end%>
</div>
