<!--<header class="flex items-center justify-center">-->
<header class="bg-gray-800 text-white p-2.5 fixed w-full z-10">
    <div class="container mx-auto flex flex-row justify-between items-center">
        <div>
            <%= link_to 'SAPPHIRON', root_path, class: 'text-2xl' %>
        </div>
        <div>
        </div>
    </div>
</header>